.footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(40, 167, 69);;
}

.transparet-bg-gray {
    background-color: rgb(211,211,211, 0.5)!important;
}

.transparet-bg-green {
    background-color: rgb(0,250,154, 0.5)!important;
}

.big-text {
    font-size: 32px!important;
}

.mid-text {
    font-size: 24px!important;
}

.blue-text{
    color: rgb(0,191,255)!important;
}

.container-fullscreen{
    padding-bottom: 11%;
    padding-top: 11%;
}