{% extends 'lab_1/base.html' %}

{% block content %}
<div class="container pt-5 pb-5">
    <div class="card mx-auto transparet-bg-gray" style="width: 100%;">
        <div class="card-body">
            <p class="big-text pt-3 pb-3">
                My name is Randy Hidayah Putra Desnantara<br>
                <br>
                I am a CS college student at University of Indonesia<br>
                <br>
                My hobby is take a walk in nature and caving in the mancave<br>
                <br>
                Pizza is love Pizza is live<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}