{% extends 'lab_1/base.html' %}
{% load static %}
{% block content %}
    	
<div class="container pb-5 pt-5 mx-auto">
    <div class="big-text pb-1">Add Schedule</div>
    <form id="form_1" action="{% url 'lab_1:add_schedule' %}" method="POST">
        {% csrf_token %}    
        <div class="form-group">
            {{ form_schedule }} 
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>	
</div>
{% endblock %}