{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homescreen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'lab_1/css/lab_1.css' %}"> 
    <link rel="stylesheet" href="{% static 'lab_1/css/bootstrap.css' %}"> 
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light transparet-bg-green">
        <div class="container">
            <a class="navbar-brand" href="{% url 'lab_1:index' %}">
                <img src="{% static 'lab_1/images/ProfilePicture.JPG' %}" class="rounded-circle" width="75" height="75" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:about_me' %}">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:schedule' %}">My Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:contact_me' %}">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer navbar-static-bottom font-small transparet-bg-green pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">

                    <!--Copyright-->
                    <p class="text-center text-md-left">© 2019 Copyright: Randy Desnantara
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0">

                    <!-- Social buttons -->
                    <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/randydesnantara/">
                                <img src="{% static 'lab_1/images/Instagram.png' %}" width="25" height="25" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://twitter.com/Randyptr">
                                <img src="{% static 'lab_1/images/Twitter.png' %}" width="25" height="25" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.youtube.com/channel/UCrQRbEk69hs4z145S2WMcdQ?view_as=subscriber">
                                <img src="{% static 'lab_1/images/Youtube.png' %}" width="25" height="25"    alt="">
                            </a>
                        </li>
                    </ul>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
<!-- Footer -->
</body>
</html>