{% extends 'lab_1/base.html' %}
{% load static %}
{% block content %}
<div class="container pb-5 pt-5 mx-auto">
    <div class="big-text pb-1">If you want to learn more, you can contact me trough here</div>
    <form id="form_1" action="{% url 'lab_1:contact_me' %}" method="POST">
        {% csrf_token %}    
        <div class="form-group">
            {{ form_contact }} 
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
  </form>	
</div>

{% endblock %}
