{% extends 'lab_1/base.html' %}
{% load static %}
{% block content %}
    	
<div class="container pb-5 pt-5 mx-auto">
    <div class="big-text pb-1 pt-1">Schedule Succesfully Deleted</div><br><br>
    <div class="mid-text pb-1 pt-1">You have delete Schedule {{schedule_name}}</div><br><br><br>
    <a href="{% url 'lab_1:index' %}">Back to main menu</a>
</div>
{% endblock %}