{% extends 'lab_1/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'lab_1/images/catto.png' %}" class="card-img-top transparet-bg-gray">
                    <div class="card-body">
                        <h5 class="card-title">Mirage AI</h5>
                        <p class="card-text">AI is an intelligence found in machine created using an alghoritm. AI will respond to many user input trough its knowledge...</p>
                        <a href="{% url 'lab_1:portfolio_ex' %}" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'lab_1/images/catto.png' %}" class="card-img-top transparet-bg-gray">
                    <div class="card-body">
                        <h5 class="card-title">Mirage AI</h5>
                        <p class="card-text">AI is an intelligence found in machine created using an alghoritm. AI will respond to many user input trough its knowledge...</p>
                        <a href="{% url 'lab_1:portfolio_ex' %}" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'lab_1/images/catto.png' %}" class="card-img-top transparet-bg-gray">
                    <div class="card-body">
                        <h5 class="card-title">Mirage AI</h5>
                        <p class="card-text">AI is an intelligence found in machine created using an alghoritm. AI will respond to many user input trough its knowledge...</p>
                        <a href="{% url 'lab_1:portfolio_ex' %}" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'lab_1/images/catto.png' %}" class="card-img-top transparet-bg-gray">
                    <div class="card-body">
                        <h5 class="card-title">Mirage AI</h5>
                        <p class="card-text">AI is an intelligence found in machine created using an alghoritm. AI will respond to many user input trough its knowledge...</p>
                        <a href="{% url 'lab_1:portfolio_ex' %}" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'lab_1/images/catto.png' %}" class="card-img-top transparet-bg-gray">
                    <div class="card-body">
                        <h5 class="card-title">Mirage AI</h5>
                        <p class="card-text">AI is an intelligence found in machine created using an alghoritm. AI will respond to many user input trough its knowledge...</p>
                        <a href="{% url 'lab_1:portfolio_ex' %}" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'lab_1/images/catto.png' %}" class="card-img-top transparet-bg-gray">
                    <div class="card-body">
                        <h5 class="card-title">Mirage AI</h5>
                        <p class="card-text">AI is an intelligence found in machine created using an alghoritm. AI will respond to many user input trough its knowledge...</p>
                        <a href="{% url 'lab_1:portfolio_ex' %}" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}