{% extends 'lab_1/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="container pt-5 pb-5">
        <div class="row transparet-bg-gray pt-5">
            <div class="col pl-5"> <img src="{% static 'lab_1/images/catto.png' %}" class="card-img-top"></div>
            <div class="col pl-3 pr-5">
                <p class="mid-text">
                    Description<br>
                    <br>
                    AI is an intelligence found in machine created using an alghoritm. AI will respond to many user input trough its knowledge. Mirage is an AI which can transform a still looking picture with a potrait of someone into a moving video. It recognize facial expression and distinguis it from background picture. It can create various expression and emotion into the video. 
                </p>
            </div>
        </div>
        <div class="row transparet-bg-gray pb-5 pl-5">20 April 2020 - 06 March 2021</div>
    </div>
</div>
{% endblock %}