{% extends 'lab_1/base.html' %}
{% load static %}
{% block content %}

<div class="container pb-5 pt-5 mx-auto">
    <div class="big-text pb-1">List of my current Schedule :</div><br>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Schedule Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Place</th>
                        <th scope="col">Category</th>
                        <th scope="col">Delete Schedule</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for schedule in list_schedule %}
                    <tr>
                        <th scope="row">{{ schedule.name }}</th>
                        <td>{{ schedule.date }}</td>
                        <td>{{ schedule.time }}</td>
                        <td>{{ schedule.place }}</td>
                        <td>{{ schedule.category }}</td>
                        <td>
                            <a  href="{% url 'lab_1:delete_schedule' schedule_name=schedule.name %}" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </a>	
                        </td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="big-text pb-1">Here a link to add schedule <a href="{% url 'lab_1:add_schedule' %}">Add Schedule</a></div>
</div>

{% endblock %}