{% extends 'lab_1/base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url( "{% static 'lab_1/images/RinjaniSunsetRandy.jpeg' %}" );
        background-size: cover; 
        height: 100%;
    }
</style>

<div class="container container-fullscreen">
    <div class="container pt-5 pb-5">
        <div class="card mx-auto transparet-bg-gray" style="width: 100%;">
            <div class="card-body">
                <p class="big-text">
                    Thank You, you can go back to home <a href="{% url 'lab_1:index' %}" class="blue-text">here</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}